<%- include("./partials/header") %> 
<div class="container">
            <div  id="comments" class="well">
                
                <% users.forEach((user) =>{  %>
                    <div class="row">
                        <div class="col-md-12">
                            <% if(user.isAdmin) {%>
                                <span class="glyphicon glyphicon-tower"></span>
                            <% } %> 
                            <a href="/users/<%= user._id %>" class="unlink"><strong><%= user.username %> :</strong></a>
                            
                            <div style="float: right;"> 
                                <span >
                                    <%= moment(user.createdAt).format(' h:mm:ss a') %> &nbsp;
                                    
                                </span> 
                                <% if(currentUser.isAdmin) { %>
                                <div class="dropdown text-right" style="float:inline-end;">
                                    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="glyphicon glyphicon-option-vertical"></span>
                                    </button>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <form id="deleteUser" action="/users/<%= user._id %>?_method=DELETE" method="POST">
                                                <button class="editComment btn btn-danger ">Delete User</button>
                                            </form>
                                            <form id="makeAdmin" action="/users/<%= user._id %>/addAdmin/?_method=PUT" method="POST">
                                                <button class="editComment btn btn-danger ">Make Admin</button>
                                            </form>  
                                            <form id="removeAdmin" action="/uses/<%= user._id %>/removeAdmin/?_method=PUT" method="POST">
                                                <button class="editComment btn btn-danger ">Remove Admin</button>
                                            </form>  
                                        </ul>
                                        
                                </div>
                                <% } %>
                            </div>                   
                        </div>
                    </div>
                <% }) %> 
                </div>
        </div>
    </div>
</div>


<%- include("./partials/footer") %> 