<%- include("../partials/header") -%> 

<div class="container">
    <header class="jumbotron" id="TransitionSection">
        <div class="container" >
            <h1>Welcome to YelpCamp</h1>
            <p>Vist the world!</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/campgrounds/new">  Add New Campground  </a>
            </p>
        </div>
    </header>
    <div class="row">
        <div class="col-lg-12">
            <h3>Our Most Popular CampGrounds</h3>
        </div>
    </div>

    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
        <% campgrounds.forEach(campground => { %>
            <% if(campground.likes.length > 0) {%>
            
            <div class="col-md-3 col-sm-6">
               <div class="thumbnail">
                   <img  class = "center" src=" <%= campground.image %> " alt="unavailable" height="400px" width="400px"> 
                   <div class="caption">
                       <h4><%= campground.name %></h4>
                   </div>
                   <p>
                       <a class="btn btn-primary" href="/campgrounds/<%=campground._id %> "> More Info</a>
                   </p>
               </div>
            </div>
        <% } %> 
        <% }) %> 
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h3>All CampGrounds</h3>
        </div>
    </div>

    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
        <% campgrounds.forEach(campground => { %>
            <div class="col-md-3 col-sm-6">
               <div class="thumbnail">
                   <img  class = "center" src=" <%= campground.image %> " alt="unavailable" height="400px" width="400px"> 
                   <div class="caption">
                       <h4><%= campground.name %></h4>
                   </div>
                   <p>
                       <a class="btn btn-primary" href="/campgrounds/<%=campground._id %> "> More Info</a>
                   </p>
               </div>
            </div>
        <% }) %> 
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/Transitions.js"></script>

<%- include("../partials/footer") -%> 